body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
    font-family: "Lato", sans-serif;
}

.agenda-title {
    padding: 10px 2px;
    text-align: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: turquoise;
    height: 100%;
    float: left;
}

.sidebar a {
    display: block;
    color: black;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    /* word-break: break-all; */
    word-wrap: break-word;
}

.sidebar input {
    display: block;
}

.sidebar a.active {
    background-color: rgb(95, 136, 134);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    width: 75%;
    height: 99%;
    float: left;
}

div.content .card {
    transition: 0.3s;
    width: 96%;
    border-radius: 5px;
    background-color: floralwhite;
    height: 96%;
    margin: 0 auto;
    overflow-y: scroll;
    padding-top: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.addMinute {
    width: 100%;
    font-family: "Lato", sans-serif;
    box-shadow: inset 0px 1px 17px 4px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Times New Roman;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 9px #2b665e;
}

#searchFilterInput {
    background-image: url('./assets/searchicon_.png');
    background-position: right;
    background-repeat: no-repeat;
    width: 99.5%;
    height: 30px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: 25%;
        position: relative;
        overflow-y: scroll;
    }
    a {
        float: left;
        width: 100%;
    }
    div.content {
        margin-left: 0;
        width: 100%;
        height: 71%;
    }
    .sidebar .addMinute {
        height: 15%;
    }
    .content .addMinute {
        height: 5%;
    }
    .edit[id*="agendaSegmentEdit"] {
        font-size: 13px;
    }
    .group,
    div,
    .edit,
    button,
    .addMinute,
    #searchFilterInput,
    .edit[id*="editElement100"] {
        font-size: 7px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 700px) {
    .group,
    div,
    .edit,
    button,
    .addMinute,
    #searchFilterInput,
    .edit[id*="editElement100"] {
        font-size: 10px;
    }
    .edit[id*="agendaSegmentEdit"] {
        font-size: 17px;
    }
    .addMinute {
        height: 4%;
    }
    a {
        width: 100%;
    }
}

@media screen and (min-width: 1300px) {
    .group,
    div,
    .edit,
    button,
    .addMinute,
    #searchFilterInput,
    .edit[id*="editElement100"] {
        font-size: 16px;
    }
    .edit[id*="agendaSegmentEdit"] {
        font-size: 21px;
    }
    .addMinute {
        height: 4%;
    }
}


/* ROYLAND STYLES */

.elements {
    margin: 50px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(88, 120, 121);
}

button {
    width: 18%;
    height: 33.3%;
    box-shadow: inset 0px 1px 17px 4px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 11px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Times New Roman;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 9px #2b665e;
}

button:hover {
    background: linear-gradient(to bottom, #d8dddd 25%, #6c7c7c 100%);
    background-color: #6c7c7c;
}

button:disabled,
.addMinute:disabled {
    color: sandybrown;
}

button[id*="btnPoint"] {
    height: 100%;
}

header {
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}

.edit {
    width: 80%;
    float: left;
    overflow-y: scroll;
    height: 100%;
    text-align: justify;
    margin-left: 1%;
}

.edit[id*="editElement100"] {
    width: 98%;
}

.edit[id*="agendaSegmentEdit"] {
    overflow: inherit;
}

.group {
    width: 100%;
    background-color: lightgrey;
    height: 12%;
    text-align: center;
}

.group[id*="generalGroup"] {
    height: 20%;
}

.group[id*="titleGroup"] {
    height: 10%;
}

.group[id*="agendaSegmentGroup"] {
    height: 4%;
    background-color: lightpink;
}

.principal {
    width: 49%;
    height: 80%;
}

.division {
    height: 1%;
    width: 100%;
    clear: left;
}

#elements {
    height: 95%;
    width: 100%;
}

.voteEditable {
    width: 20.2%;
    height: 100%;
    float: left;
}

.voteView {
    width: 25%;
    height: 100%;
    float: left;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

table {
    width: 100%;
}

th,
td,
p {
    font: 14px Verdana;
}

table,
th,
td {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

th {
    font-weight: bold;
}

.tableBtn {
    width: 70%;
}